openapi: 3.0.0
schemes:
  - https
host: api.telphant.co.za
basePath: /v1
info:
  version: '1.0'
  x-logo:
    url: "http://developer.telephant.co.za/telephant-documentation-logo.jpg"
    backgroundColor: "#fafafa"
  title: Telephant API
  contact:
    name: Telephant API Team
    url: http://developer.telephant.co.za
    email: api@telephant.co.za
  description: >-
    Telephant’s APIs (Application Programming Interfaces) power its platform for
    exchanging airtime.
tags:
- name: Accounts
  description: ''
- name: Airtime
  description: ''
- name: Contacts
  description: You can access and edit your contacts lists from your personal, company, and other accounts in Contacts. You can also add, update, and delete details about your contacts.  In order to request or send airtime you will need a verified contact.
- name: Notifications
  description: ''
- name: Retailers
  description: ''
- name: Share
  description: ''
- name: Transactions
  description: ''
- name: Users
  description: ''
paths:
  /v1/accounts:
    get:
      summary: Get account(s).
      description: Get the details of a specific account(s). List one or all of the details of accounts available to this username.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
      - in: header
        name: x-account-id
        description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
        schema:
          type: string
          format: uuid
        required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Create account.
      description: Create a new group account.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      requestBody:
        description: Define the properties of the account to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 50
                  example: My Company's Airtime Account
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    put:
      summary: Update account.
      description: Update the details of a group account.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      requestBody:
        description: Define the properties of the account to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 50
                  example: My Company's Airtime Account
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete account.
      description: Delete a specific group account.
      tags:
        - Accounts
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/airtime:
    get:
      summary: Get airtime balance.
      description: Check the balance of a group or individual accounts airtime balance.
      tags:
        - Airtime
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Use airtime.
      description: Convert positive airtime balance for use as airtime on phone.
      tags:
        - Airtime
      security:
        - BearerAuth: []
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/airtime/{ContactsPhoneNumber}:
    get:
      summary: Request airtime.
      description: Request airtime credit from a contact.
      tags:
        - Airtime
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: ContactsPhoneNumber
          schema:
            type: string
            pattern: ^(27)[0-9]{9}$
          required: true
          description: A contact's unique mobile phone number from an accounts contacts list.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Send airtime.
      description: Send airtime credit to a contact.
      tags:
        - Airtime
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: ContactsPhoneNumber
          schema:
            type: string
            pattern: ^(27)[0-9]{9}$
          required: true
          description: A contact's unique mobile phone number from an accounts contacts list.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/contacts:
    get:
      summary: List the contacts of an individual or group account.
      description: List the contacts for account  
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Create contact.
      description: Create a contact for a individual or group account.
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/contacts/{ContactsPhoneNumber}:
    get:
      summary: View specific contact.
      description: Get the details of a specific contact for an individual or group account.
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: ContactsPhoneNumber
          schema:
            type: string
            pattern: ^(27)[0-9]{9}$
          required: true
          description: A contact's unique mobile phone number from an accounts contacts list.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    put:
      summary: Update specific contact.
      description: Update a specific contact for an individual or group account.
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: ContactsPhoneNumber
          schema:
            type: string
            pattern: ^(27)[0-9]{9}$
          required: true
          description: A contact's unique mobile phone number from an accounts contacts list.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete specific contact.
      description: Delete a specific contact for an individual or group account.
      tags:
        - Contacts
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: ContactsPhoneNumber
          schema:
            type: string
            pattern: ^(27)[0-9]{9}$
          required: true
          description: A contact's unique mobile phone number from an accounts contacts list.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/notifications:
    get:
      summary: Get list of notifications.
      description: Get the list of notifications for an individual or group account.
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary:  Mark unread notifications as read.
      description: Mark all unread notifications as read on an individual or group account.
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/notifications/{NotificationID}:
    get:
      summary: View specific notification.
      description: Get the details of a specific notification for an individual or group account.
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: NotificationID
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the notification.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Mark notifcation as read.
      description: On an individual or group account, mark a specific notification as read.
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: NotificationID
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the notification.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'
        '5XX':
          $ref: '#/components/responses/ServerError'
    put:
      summary: Accept or reject airtime request.
      description: Accept or reject a specific airtime send request from a contact.
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: NotificationID
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the notification.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /ping:
    get:
      summary: Ping the API.
      description: To make sure the API is up and working, ping the server.
      tags:
        - Ping
      responses:
        '200':
          description: This API call only returns 'pong' to confirm that the API is up and running.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Pong.

  /v1/retailers:
    get:
      summary: Get retailers.
      description: Get a listing of Telephant retailers.
      tags:
        - Retailers
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Create a retailer listing.
      description: Create a Telephant retailer listing.
      tags:
        - retailers
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/retailers/{RetailerID}:
    put:
      summary: Update retailer.
      description: Update a retailer listing.
      tags:
        - Retailers
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: RetailerID
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the retailer listing.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete retailer.
      description: Delete a retailer listing.
      tags:
        - Retailers
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: RetailerID
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the retailer listing.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/transactions:
    get:
      summary: Get transactions.
      description: Get a transaction listing for an individual or group account.
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      tags:
        - Transactions
      security:
        - BearerAuth: []
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/transactions/{TransactionID}:
    get:
      summary: View a transaction.
      description: View the details of a specific transaction for an individual or group account.
      tags:
        - Transactions
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: TransactionID
          schema:
            type: string
            format: uuid
          required: true
          description: Unique ID of the transaction.
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
  /v1/users:
    post:
      summary: User authentication.
      description: Provides an end point to sign up as a user or log in.
      tags:
        - Users
      parameters:
        - in: query
          name: action
          schema:
            type: string
            enum:
              - signup
              - login
          description: >
            User actions:
             * `signup` - Create a user account.
             * `login` - As a user, sign in.
      requestBody:
        description: Provide the telephone number and a password to signup or login.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Users'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: 
                    type: string
                    example: 'The user was successfully registered.'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'User successfully logged in.'
                  token:
                    type: string
                    example: 'BEARER <TOKEN STRING>'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ['User validation failed : Password not complex enough.','User validation failed : The telephone number does not conform to the South African format (27XXXXXXXXX).']
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Unable to authenticate using credentials provided.'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'The telephone number already registered.'
        '5xx':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'We are sorry but something went wrong on our side.'

  /v1/verifications:
    get:
      summary: Get verifications.
      description: Check the status of an individual or group account's verification.
      tags:
        - Verifications
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      summary: Create verifications.
      description: Submit verification requirements on a per-account or per-group basis.
      tags:
        - Verifications
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
    put:
      summary: Update verification.
      description: Update the verification requirements for a single account or a group account.
      tags:
        - Verifications
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: x-account-id
          description: Clients can make requests as connected accounts using the special header x-account-id which should contain a Telephant account ID.
          schema:
            type: string
            format: uuid
          required: false
      responses:
        '401':
          $ref: '#/components/responses/Unauthorised'

        '5XX':
          $ref: '#/components/responses/ServerError'
servers:
  # Added by API Auto Mocking Plugin
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/wazby/TelephantAPI/1.0
  - description: https://api.telephant.co.za
    url: https://localhost:3443

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Users:
      type: object
      properties:
        telephoneNumber:
          type: string
          pattern: ^(27)[0-9]{9}$
          description: Provide a valid South African mobile telphone number in the format 27XXXXXXXXXX.
          example: 27821234567
        password:
          type: string
          pattern: /(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/
          description: |
            Provide a suitable password.
              * The password length must be greater than or equal to 8
              * The password must contain one or more uppercase characters
              * The password must contain one or more lowercase characters
              * The password must contain one or more numeric values
              * The password must contain one or more special characters
            example: P@ssword123

    Unauthorised:
      type: object
      properties:
        status_message: 
          type: string
          example: 'Unauthorised'
        status_code:
          type: integer
          example: 401
    ServerError:
      type: object
      properties:
        status_message: 
          type: string
          example: 'Server error. Please try again later'
        status_code:
          type: integer
          example: 500

    Transactions:
      type: object
      required:
        - amount
        - sign
        - type
      properties:
        accountID:
          type: string
          format: uuid
        date-time:
          type: string
          format: date-time
        amount:
          type: number
        sign:
          type: boolean
        type:
          type: string
          enum:
            - SEND
            - RECEIVE
      description: The Transactions are represented in the form of the following JSON model.
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
    Unauthorised:
      description: Unauthorised
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Unauthorised'
    ServerError:
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerError'